{% extends 'base.jinja' %}
{% block content %}
    <h1>Your filmwrecs</h1>
    <ul>
    {% for film in films  %}
        <li>{{film.title}}, {{film.genre}}, {{film.release_date}}, {{film.run_time}}</li>
    {% endfor %}
    </ul>
{% endblock content %}