{% extends 'base.jinja' %}
{% block content %}
    <section>
    <h1>filmwrecs</h1>
    <p>Blockbuster but cooler</p>
    </section>
    <section>
    <button>Your List</button>
    <button>Add new film</button>
    </section>
{% endblock content %}