{% extends 'base.jinja' %}
{% block content %}
    <section>
    <h1>filmwrecs</h1>
    <p>Blockbuster but cooler</p>
    </section>
    <section>
    <button class="button">
        <a class="button" href="/films">Your List</a>
    </button>
    <button class="button">
        <a class="button" href="/films/new">Add new film</a>
    </button>
    </section>
{% endblock content %}